section{
background-color:navy;
display:flex;
flex-direction:row;
justify-content: space-around;
height: 50vh;
}

h1{
  background-color:bisque ;
  color: darkblue;
}

.green{
  background-color: rgb(94, 138, 81);
  color:honeydew ;
  width:100px;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  text-align:top;
}

.orange{
  background-color:coral;
  Width:100px;
  padding:10px;
  padding-left: 30px;
  padding-right: 30px;
  text-align: top;
}

.lightgray{
  background-color: lightgray;
  width: 100px;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
}

